Repository yanghuijava/spring-petclinic-mono: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code1, build-docs2, build-docs3, build-docs4

Update config.yml
  .circleci/config.yml
Due: none

Update petclinic-deployment.yml
  k8s/petclinic-deployment.yml
Due: none

Update example.yml
  .circleci/example.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

circleci
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

Update messages_zh_CN.properties
  src/main/resources/messages/messages_zh_CN.properties
Due: build-code1

Update README.md
  README.md
Due: build-docs3

Update continue-config.yml
  .circleci/continue-config.yml
Due: none

Path conditions:
  build-code1: any of: src/.*
  build-docs2: any of: pom.xml
  build-docs3: any of: README.md
  build-docs4: any of: Dockerfile
